*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav_one{
    background-color: #f4eece;
    height: 50px;
    padding: 10px;
    /* align-items: center; */
    /* justify-content: space-between; */

}
.nav_one_div{
    align-items: center;
    margin: auto;
    /* background-color: red; */
    padding: 0 15px;
    margin-right: 13em;
    margin-left: 12em;
}
.nav_one img{
      height: 15px;
      margin-right: 5px;
      display: inline;
      

}
.nav_one span{
    color: #d71921;
    font-weight: 700;
    text-decoration: none;
}

.text_one{
    display: inline;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
}

.text_two{
    float: right;
    text-decoration: underline;
    font-size: 14px;
    
}
.nav_two ul{
    color: white;
    background-color: #333;
    padding: 10px;
    height: 60px;
    /* position: relative; */
    display: flex;
     
}
.nav_two ul a{
    text-decoration: none;
    color: white;
}
.emirates_img{
    margin-left: 13em;
    position: relative;
    margin-top: -10px;
    margin-right: 5px;
}

.nav_two ul li{
    padding: 10px;
    font: bold;
    font-size: 14px;
    margin-left: 2px;
    text-decoration: none;
    list-style-type: none;

}

.ngLogin{
    /* background-color: #d71921; */
       margin-left: 15vw;
       margin-top: 5px;
}
.ngLogin img{
    padding: 1px;
    margin-left: 2vw;
    
    
}
section img{
    z-index: 1;
    margin-top: -20px;
    width: 100%;

}

.flyBetterImg{
    /* width: 300px; */
    height: 50px;
    /* background-color: #d71921; */
    float: right;
    margin-top: -45vh;
    position: relative;
    margin-right: 15vw;
}
.learnMore{
    /* background-color: blue; */
    color: rgb(255, 255, 255);
    width: 575px;
    float: left;
    position: relative;
    margin-top: -40vh;
    margin-left: 14em;
    padding: 10px;
    height: auto;
}
.learnMore h4{
    font-size: 20px;
    font-weight: 600;
}

.learnMore h1{
    font-weight: 700;
    font-size: 54px;
}

.learnMore h5{
    /* float: right; */
    margin-left: 21vw;
    font-size: 20px;
    font-weight: 600;

}

.learnMore button{
    background-color: #d71921;
    padding: 8px;
    border-radius: 5px;
    border: none;
    float: right;
    color: white;
    font-weight: 700;
    width: 150px;
    position: relative;

}
.second_section{
    background-color: whitesmoke;
    height: 60vh;
}

.ssfirst_div{
    background-color: white;
    border: 1px solid whitesmoke;
    height: 300px;
    width: 1088px;
    margin: auto;
    border-radius: 2px;
    margin-top: -65px;
    position: relative;

}
.row{
    padding: 5px;
    /* justify-content: space-around; */
}
.covid19{
    height: 70px;
    width: auto;
    border: 1px solid blue;
    padding: 5px;
    /* display: flex; */
}
.covid19 button{
    float: right;
    padding: 5px;
    border-radius: 4px;
        
}
.third_section{
    height: 1519px;
    width: auto;
    background-color: yellow;
}
.TS_thirdss{
    width: 1088px;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.TS_thirdss h2{
    font-size: 48px;
    font-weight: 600;
}
.TS_fourth{
    /* background-color: #d71921; */
    width: 1088px;
    margin: auto;
    display: flex;
}